<html>
    {{template "head" .}}
<body>
    <div class="header">
        <h1>{{.Title}}</h1>
    </div>
    <div class="row">
        {{template "posts" .}}
        <div class="rightcolumn">
            {{range $val := .Cards}}
            <div class="card">
                <h2>{{$val.Title}}</h2>
                <p>{{$val.GetContentsAsHtml}}</p>
            </div>
        {{end}}
            <div class="card">
                <h2>Tags</h2>
                {{range $tag_name, $number_of_posts := .Tags}} <p> <a href="./tag/{{$tag_name}}">{{$tag_name}} ({{$number_of_posts}})</a></p>  {{end}}
            </div>
    </div>
    </div>
    <div class="footer">
        <p>{{.Intro}}</p>
    </div>

</body>

</html>